.jumbotron{
  background-image: url('/assets/img/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}
section{
  padding-top: 4rem;
}
#section-appointment{
  padding-top: 0;
}
 
body{
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{

  font-family: 'Rubik', sans-serif;
}

.social-container {
  padding-bottom: 5%;
}

.social-icon {
font-size: 100px;
width: 100px;
text-align: center;
}
